body {
  background-color: gray;
}


.maintitle {
	
	text-align: center;
	font-size:69px;
	height:150px;
	}
	

ul {
  list-style-type: none;
  width: 250px;
  height : 700px;
  background-color: #f1f1f1;
  margin-top: -665px;
}

li a {
  display: block;
  color: #000;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 40px;
}

li a.active {
 background-color: #555;
  color: gray;
}

li a:hover:not( .active) {
  background-color: #555;
  color: white;
}
#foot {
	Font-size: 35px;
	color: black;
	text-align: right;

}
.introduction {
	Background-color :#f2f2f3;
	text-align: center;
	width: 300px;
  border: 15px white;
  padding: 50px;
  margin: 20px;
  margin-left: 292px; 
width: 500px;
 height:550px;
}
.explanation {
	font-size:25px;
}

.sideinfo {

	Background-color :#000000;
	text-align: center;
  border: 15px white;
  padding: 50px;
  margin: 20px;
  margin-left: 1100.25px;
	margin-top: -547.5px;
	height:400px;
	width:200px;
}
.applelink {
	color:black;
	font-size:25px;
}
.androidlink {
	color:black;
	font-size:25px;
}

.interests {
	color:black;
	font-size:25px;
}


.androidTitle {
	background-color:#59595f;
	text-align: center;
	font-size:69px;

	}

.androidUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  height : 700px;
  background-color: #f1f1f1;
  margin-top: 0px;
}


.androidintro {
	Background-color :#f2f2f3;
	text-align: center;
	width: 300px;
  border: 15px white;
  padding: 50px;
  margin: 20px;
  margin-left: 292px; 
  margin-top: -700px;
width: 800px;
 height:1150px;
}
.Aexplanation {
	font-size:25px;
}


.IOStitle {
	background-color:#59595f;
	text-align: center;
	font-size:69px;
	}

.iosUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  height : 700px;
  background-color: #f1f1f1;
  margin-top: 0px;
}

.IOSarticle {
	Background-color :#f2f2f3;
	text-align: center;
	width: 300px;
  border: 15px white;
  padding: 50px;
  margin: 20px;
  margin-left: 292px; 
  margin-top: -700px;
width: 800px;
 height:710px;
}
.IOSexplanation {
	font-size:25px;
}

.SimilaritiesTitle {
	background-color:#59595f;
	text-align: center;
	font-size:69px;
	}

.SimilaritiesUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  height : 700px;
  background-color: #f1f1f1;
  margin-top: 1px;
}

.SimilaritiesArticle {
	Background-color :#f2f2f3;
	text-align: center;
	width: 300px;
  border: 15px white;
  padding: 50px;
  margin: 20px;
  margin-left: 292px; 
  margin-top: -700px;
width: 800px;
 height:600px;
}
p {
	font-size:25px;
}

.DifferencesTitle {
	background-color:#59595f;
	text-align: center;
	font-size:69px;
	}

.DifferencesUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  height : 700px;
  background-color: #f1f1f1;
  margin-top: 1px;
}
.DifferencesArticle {
	Background-color :#f2f2f3;
	text-align: center;
	width: 300px;
  border: 15px white;
  padding: 50px;
  margin: 20px;
  margin-left: 292px; 
  margin-top: -700px;
width: 800px;
 height:700px;
}